target/
!.mvn/wrapper/maven-wrapper.jar

src/main/generated

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
Users
.DS_Store

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
